@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

h3,
h4,
h5 {
  font-style: italic;
}

.wrapper {
  width: 500px;
  display: grid;
}

.w-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*---HOME---*/
div {
  text-align: center;
}
/*---SignUp---*/

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 0.2em;
  border-radius: 0.5em;
  border-color: rgb(238, 240, 237);
}

button {
  color: white;
  cursor: pointer;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: small;
  border: solid 0.2em;
  border-radius: 0.5em;
  width: 19em;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
  background-color: #2000ffff;
}

button:hover {
  background-color: rgb(28, 0, 209);
}

button:active {
  border-color: rgb(212, 212, 212);
}

.button-medium-delete {
  color: white;
  cursor: pointer;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: small;
  border: solid 0.2em;
  border-radius: 0.5em;
  width: 8em;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
  background-color: red;
}

.button-medium-delete:hover {
  background-color: rgb(204, 0, 0);
}

.button-medium-delete:active {
  border-color: rgb(212, 212, 212);
}

.button-medium-update {
  color: white;
  cursor: pointer;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: small;
  border: solid 0.2em;
  border-radius: 0.5em;
  width: 8em;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
  background-color: orange;
}

.button-medium-update:hover {
  background-color: rgb(255, 123, 0);
}

.button-medium-update:active {
  border-color: rgb(212, 212, 212);
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: small;
  border: solid 0.2em;
  border-radius: 0.5em;
  width: 19em;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
  text-align: center;
  background-color: #2000ffff;
}

a:hover {
  background-color: rgb(28, 0, 209);
}

a:active {
  border-color: rgb(212, 212, 212);
}

.button-alumno {
  grid-column: 1;
  grid-row: 1;
}

.button-profesor {
  grid-column: 1;
  grid-row: 2;
}

.button-tabla {
  grid-column: 2;
}

.dni_si {
  visibility: hidden;
  display: none;
}

.dni_si.active {
  visibility: visible;
  display: block;
}

.dni_no {
  visibility: hidden;
  display: none;
}

.dni_no.active {
  visibility: visible;
  display: block;
}

.arg {
  visibility: hidden;
  display: none;
}

.arg.active {
  visibility: visible;
  display: block;
}

.prov {
  visibility: hidden;
  display: none;
}

.prov.active {
  visibility: visible;
  display: block;
}

.otra {
  visibility: hidden;
  display: none;
}

.otra.active {
  visibility: visible;
  display: block;
}

.hermSi {
  visibility: hidden;
  display: none;
}

.hermSi.active {
  visibility: visible;
  display: block;
}
