@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

h3,
h4,
h5 {
  font-style: italic;
}

.wrapper {
  width: 500px;
  display: grid;
}

.w-container{
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}


/*---HOME---*/
div {
  text-align: center;
}
/*---SignUp---*/

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 0.2em;
  border-radius: 0.5em;
  border-color: rgb(238, 240, 237);
}

button {
  color: white;
  cursor: pointer;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: small;
  border: solid 0.2em;
  border-radius: 0.5em;
  width: 19em;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
  background-color: #2000ffff;
}

button:hover {
  background-color: rgb(28, 0, 209);
}

button:active {
  border-color: rgb(212, 212, 212);
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: small;
  border: solid 0.2em;
  border-radius: 0.5em;
  width: 19em;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
  background-color: #2000ffff;
}

a:hover {
  background-color: rgb(28, 0, 209);
}

a:active {
  border-color: rgb(212, 212, 212);
}

.button-alumno {
  grid-column: 1;
  grid-row: 1;
}

.button-profesor {
  grid-column: 1;
  grid-row: 2;
}

.button-tabla {
  grid-column: 2;
}
